.content-container {
  box-sizing: border-box;
  width: 100%;
  color: $text-color;
  height: calc(100vh - 140px - env(safe-area-inset-top));
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: auto;
}
.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  //height: 100%;
  background: $primary-color;
  border-radius: 25px;
  border: none;
  padding: 0.3em 1em;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.entity-container {
  span.title {
    font-size: 40px;
    font-weight: bold;
  }

  .add-button {
    margin: 1em 0;
  }

  .entity-list {
    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      li {
        padding: 1em;
        //margin: 0.5em 0;
        margin-top: 0.5em;
        justify-self: flex-end;
        width: 100%;
        list-style: none;
        background: rgba(255, 255, 255, 0.4);
      }
    }
  }

  .entity-toggle {
    background: rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: stretch center;
    //padding: 1em;
    border-radius: 10px;
    margin-top: 0.5em;
    position: relative;
    gap: 0;

    div {
      padding: 0.5em;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      font-weight: bold;
      font-size: 1.1em;
      min-height: 40px;
      border-radius: 0;
      background: #fff;
      z-index: 2;
    }
    .entity-toggle-option:first-child {
      border-radius: 8px 0 0 8px;
    }
    .entity-toggle-option:last-child {
      border-radius: 0 8px 8px 0;
    }

    .entity-toggle-option:not(:last-child) {
      border-right: 1px solid #1a78a5;
    }
    .entity-toggle-option.active {
      background: $primary-color;
      color: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
      font-weight: bold;
      transition:
        background 0.2s,
        color 0.2s;
      z-index: 3;
      position: relative;
    }
  }

  .buttons-container {
    background: none;
    margin: 1em 0;
    display: grid;
    grid-template-columns: 40px auto 40px 40px;
    gap: 0.5em;

    .action-button {
      aspect-ratio: 1/1;
      width: 100%;
      height: 100%;
      border: none;
      padding: 20px;
      background: $action-button;
      color: white;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  .entity-item {
    width: 100%;
    min-width: 80%;
  }

  .entity-row {
    display: grid;
    grid-template-columns: 24px auto 24px;
    grid-template-areas: 'icon name toggle' 'icon description toggle';
    align-items: center;
    gap: 1em;
  }

  .entity-actions {
    grid-area: toggle;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    button {
      width: 24px;
      height: 24px;
      background: none;
      border: none;
    }

    .bi-trash-fill {
      color: $danger;
    }
  }
  .children-list {
    padding-left: 16px;
    margin: 6px 0 0 0;
    list-style: none;
  }
  .entity-description {
    font-size: 0.9em;
    color: $text-color;
    grid-area: description;
  }

  .entity-name {
    font-size: 1.2em;
    font-weight: bold;
    grid-area: name;
  }

  .entity-icon {
    grid-area: icon;
  }
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 1em;
  label[for='language'] {
    margin-right: 0.5em;
  }
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
}

.settings-row {
  display: flex;
  align-items: center;
  gap: 1em;

  .dropdown button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
  }

  .dropdown li {
    padding: 0.5em;
  }
}

.add-entity-container {
  width: 100%;
  height: calc(100vh - 140px - env(safe-area-inset-top));
  margin: 20px auto;
  overflow-y: auto;
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .form-label {
      font-weight: bold;
    }

    .required-field {
      color: red;
    }

    .form-input-container {

      .form-control,
      .form-select {
        &:focus,
        &:active {
          outline: none;
          border: 1px solid $primary-color;
          box-shadow: none;
        }
      }

      .input-with-icon {
        display: grid;
        grid-template-columns: auto 32px;
        background: $input-bg;
        padding-left: 0;

        .form-control {
          background: none;
          border: none;
          outline: none;
        }

        i {
          justify-self: center;
          align-self: center;
        }
      }
    }
  }
}

.select-option {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;

  i {
    font-size: 12px;
    vertical-align: super;
    margin-left: 2px;
  }
}
.tooltip-container .tooltip-text {
  visibility: hidden;
  min-width: 150px;
  width: 180px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 6px 8px;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s;
  font-size: 0.95em;
  white-space: pre-line;
  box-sizing: border-box;
}
.tooltip-container:hover .tooltip-text,
.tooltip-container:focus-within .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.add-attribute {
  display: flex;
  width: fit-content;
  align-self: flex-end;
}

.attribute-options-box {
  border-radius: 6px;
  padding: 12px;
}

.entity-card {
  position: relative;
  padding: 1em;
  margin: 0.5em auto;
  justify-self: flex-end;
  width: 100%;
  list-style: none;
  background: rgba(255, 255, 255, 0.4);
  display: grid;
  grid-template-columns: 24px auto 24px 24px;
  grid-template-areas: 'icon name colorpicker toggle' 'icon description colorpicker toggle';
  align-items: center;
  gap: 1em;

  .pulse-hand {
    position: absolute;
    top: 54px;
    left: 24px;
    rotate: -25deg;
    z-index: 2;

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.3);
      }
      100% {
        transform: scale(1);
      }
    }
    &.pulse-animation {
      animation: pulse 1s infinite;
      display: inline-block;
    }
    &:not(.pulse-animation) {
      display: none;
    }
  }

  .entity-colorpicker {
    grid-area: colorpicker;
    rotate: -25deg;
    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.3);
      }
      100% {
        transform: scale(1);
      }
    }
    .pulse-animation {
      animation: pulse 1s infinite;

      display: inline-block;
    }
    :not(.pulse-animation) {
      display: none;
    }
  }

  .entity-actions {
    grid-area: toggle;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    button {
      width: 24px;
      height: 24px;
      background: none;
      border: none;
    }

    .bi-trash-fill {
      color: $danger;
    }
  }
  .entity-description {
    font-size: 0.9em;
    color: $text-color;
    grid-area: description;
  }

  .entity-name {
    font-size: 1.2em;
    font-weight: bold;
    grid-area: name;
    color: $text-color;
  }

  .entity-icon {
    grid-area: icon;
    color: $text-color;
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 auto;
  }

  .icon-select {
    grid-area: icon;
    width: 100%;

    .control {
      background: none;
      border: none;
      outline: none;
      height: 24px;
      width: 24px;

    &.focused {
      box-shadow: none;
      border: none;
    }

    }

    .icon-select-option,
    .menu-option {
      width: 24px !important;
      height: 24px !important;
      min-width: 24px !important;
      min-height: 24px !important;
      max-width: 24px !important;
      max-height: 24px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 !important;
    }

    .icon-select-option i,
    .menu-option i {
      font-size: 22px !important;
      width: 24px !important;
      height: 24px !important;
      line-height: 24px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }


  }
}
