@import 'variables';

.content-container {
  box-sizing: border-box;
  width: 100%;
  color: $textColor;
  height: calc(100vh - 140px - env(safe-area-inset-top));
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: auto;
}
.add-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em auto;

  width: 100%;

  background: $primaryColor;
  border-radius: 0 25px 25px 0;
  padding: 0.3em 0.3em 0.3em 1em;

  color: $textColor;
  font-weight: bold;
  font-size: 1.2rem;
}
.add-circle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: $secondaryColor;
  border: none;
  color: $textColor;
  flex-shrink: 0;

  i {
    font-size: 1.5rem;
    line-height: 1;
  }
}

.entity-container {
  span.title {
    font-size: 40px;
    font-weight: bold;
  }

  .add-button {
    margin: 1em 0;
  }

  .entity-list {
    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      li {
        padding: 1em;
        //margin: 0.5em 0;
        margin-top: 0.5em;
        justify-self: flex-end;
        width: 100%;
        list-style: none;
        background: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .entity-list-folder {
    ul {
      margin: 0;
      padding: 0;
      width: 100%;
    }
    li {
      padding: 0.5em;
      justify-self: flex-end;
      width: 100%;
      list-style: none;
      background: rgba(255, 255, 255, 0.5);
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      box-shadow: 0 1px 0 0 rgba(0,0,0,0.04);

      &:last-child {
        border-bottom: none;
        box-shadow: none;
      }
    }
  }

  .entity-toggle {
    background: rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: stretch center;
    //padding: 1em;
    border-radius: 10px;
    margin-top: 0.5em;
    position: relative;
    gap: 0;

    div {
      padding: 0.5em;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      font-weight: bold;
      font-size: 1.1em;
      min-height: 40px;
      border-radius: 0;
      background: #fff;
      z-index: 2;
    }
    .entity-toggle-option:first-child {
      border-radius: 8px 0 0 8px;
    }
    .entity-toggle-option:last-child {
      border-radius: 0 8px 8px 0;
    }

    .entity-toggle-option:not(:last-child) {
      border-right: 2px solid $primaryColor;
    }
    .entity-toggle-option.active {
      background: $primaryColor;
      color: $textColor;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
      font-weight: bold;
      transition:
        background 0.2s,
        color 0.2s;
      z-index: 3;
      position: relative;
    }
  }

  .buttons-container {
    background: none;
    margin: 1em 0;
    display: grid;
    grid-template-columns: 40px auto 40px 40px;
    gap: 0.5em;

    .action-button {
      aspect-ratio: 1/1;
      width: 100%;
      height: 100%;
      border: none;
      padding: 20px;
      background: $secondaryColor;
      color: white;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  .entity-item {
    width: 100%;
    min-width: 80%;
  }

  .entity-row {
    display: grid;
    grid-template-columns: 24px auto 24px;
    grid-template-areas: 'icon name toggle' 'icon description toggle';
    align-items: center;
    gap: 1em;
    word-break: break-word;
    white-space: normal;

    .entity-actions {
      grid-area: toggle;
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      button {
        width: 24px;
        height: 24px;
        background: none;
        border: none;
      }

      .bi-trash-fill {
        color: $danger;
      }
    }
  }

  .entity-row-folder {
    display: grid;
    grid-template-columns: 24px auto 64px;
    grid-template-areas: 'icon name toggle' 'icon description toggle';
    align-items: center;
    gap: 1em;
    word-break: break-word;
    white-space: normal;

    .entity-actions {
        grid-area: toggle;
      display: flex;
      gap: 0.5em;
      button {
        width: 24px;
        height: 24px;
        background: none;
        border: none;
      }

      .bi-trash-fill {
        color: $danger;
      }
    }
  }

  .children-list {
    padding-left: 16px;
    margin: 6px 0 0 0;
    list-style: none;
  }
  .entity-description {
    font-size: 0.9em;
    color: $textColor;
    grid-area: description;
  }

  .entity-name {
    font-size: 1.2em;
    font-weight: bold;
    grid-area: name;
  }

  .entity-icon {
    grid-area: icon;
    color: $secondaryColor;
  }
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 1em;
  label[for='language'] {
    margin-right: 0.5em;
  }
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
}

.settings-row {
  display: flex;
  align-items: center;
  gap: 1em;

  .dropdown button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
  }

  .dropdown li {
    padding: 0.5em;
  }
}

.add-entity-container {
  width: 100%;
  height: calc(100vh - 140px - env(safe-area-inset-top));
  margin: 20px auto;
  overflow-y: auto;
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background: rgba($primaryColor, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0.5em 1em;
    border-radius: 0 0 0 30px;

    .form-label {
      font-weight: bold;
    }

    .required-field {
      color: $danger;
    }

    .form-input-container {
      .form-control,
      .form-select {
        &:focus,
        &:active {
          outline: none;
          border: 1px solid $primaryColor;
          box-shadow: none;
        }
      }

      .input-with-icon {
        display: grid;
        grid-template-columns: auto 32px;
        //background: $backgroundColor;
        padding: 0;

        input.form-control {
          box-shadow: none;
          background: none;
          border: none;
          outline: none;
        }

        i {
          justify-self: center;
          align-self: center;
          padding-right: 1em;
        }
      }
    }

    .icon-text {
      display: flex;
      align-items: center;
      gap: 0.5em;
      justify-self: center;
      .submit-button-text {
        font-weight: bold;
        letter-spacing: 0.05em;
        font-size: 1.2em;
      }
    }
  }
}

.select-option {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;

  i {
    font-size: 12px;
    vertical-align: super;
    margin-left: 2px;
  }
}
.tooltip-container .tooltip-text {
  visibility: hidden;
  min-width: 150px;
  width: 180px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 6px 8px;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s;
  font-size: 0.95em;
  white-space: pre-line;
  box-sizing: border-box;
}
.tooltip-container:hover .tooltip-text,
.tooltip-container:focus-within .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.add-attribute {
  display: flex;
  width: fit-content;
  align-self: flex-end;
}

.attribute-options-box {
  border-radius: 6px;
  padding: 12px;
}

.entity-card {
  position: relative;
  padding: 1em;
  margin: 0.5em auto;
  justify-self: flex-end;
  width: 100%;
  list-style: none;
  background: rgba(255, 255, 255, 0.5);
  display: grid;
  grid-template-columns: 24px auto 24px 24px;
  grid-template-areas: 'icon name colorpicker toggle' 'icon description colorpicker toggle';
  align-items: center;
  gap: 1em;
  word-break: break-word;
  white-space: normal;

  .pulse-hand {
    position: absolute;
    top: 54px;
    left: 24px;
    rotate: -25deg;
    z-index: 2;
    color: $primaryColor;

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.3);
      }
      100% {
        transform: scale(1);
      }
    }
    &.pulse-animation {
      animation: pulse 1s infinite;
      display: inline-block;
    }
    &:not(.pulse-animation) {
      display: none;
    }
  }

  .entity-colorpicker {
    grid-area: colorpicker;
    rotate: -25deg;
    color: $primaryColor;

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.3);
      }
      100% {
        transform: scale(1);
      }
    }
    .pulse-animation {
      animation: pulse 1s infinite;

      display: inline-block;
    }
    :not(.pulse-animation) {
      display: none;
    }
  }

  .entity-actions {
    grid-area: toggle;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    button {
      width: 24px;
      height: 24px;
      background: none;
      border: none;
    }

    .bi-trash-fill {
      color: $danger;
    }
  }
  .entity-description {
    font-size: 0.9em;
    color: $textColor;
    grid-area: description;
  }

  .entity-name {
    font-size: 1.2em;
    font-weight: bold;
    grid-area: name;
    color: $textColor;
  }

  .entity-icon {
    color: $secondaryColor;
    grid-area: icon;
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 auto;
  }

  .icon-select {
    grid-area: icon;
    width: 100%;

    .control {
      background: none;
      border: none;
      outline: none;
      height: 24px;
      width: 24px;

      &.focused {
        box-shadow: none;
        border: none;
      }
    }

    .icon-select-option,
    .menu-option {
      width: 24px !important;
      height: 24px !important;
      min-width: 24px !important;
      min-height: 24px !important;
      max-width: 24px !important;
      max-height: 24px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 !important;
    }

    .icon-select-option i,
    .menu-option i {
      font-size: 22px !important;
      width: 24px !important;
      height: 24px !important;
      line-height: 24px !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.form-control, .form-select {
  padding: 12px 20px;
  border-radius: 30px;

  background: $backgroundColor;
  color: $textColor;
  box-shadow:
    inset 2px 2px 5px darken($backgroundColor, 15%),
    inset -2px -2px 5px lighten($backgroundColor, 15%);

  &:focus,
  &:active,
  &:hover, {
    background: $backgroundColor;
    border: none;
    outline: none;
    box-shadow:
      inset 2px 2px 5px darken($backgroundColor, 15%),
      inset -2px -2px 5px lighten($backgroundColor, 15%);
  }
}

.btn-primary {
  background: $primaryColor;
  color: $textColor;
  border: none;
}

.add-container-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em auto;

  width: 100%;

  background: $primaryColor;
  border-radius: 25px 0 0 25px;
  padding: 0.3em 1em 0.3em 0.3em;

  color: $textColor;
  font-weight: bold;
  font-size: 1.2rem;

  &:disabled {
    opacity: 0.5;
  }
}
.add-circle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: $secondaryColor;
  border: none;
  color: $textColor;
  flex-shrink: 0;

  i {
    font-size: 1.5rem;
    line-height: 1;
  }
}

.vue-select .control {
  padding: 6px 10px !important;
  border-radius: 30px !important;

  background: $backgroundColor !important;
  color: $textColor !important;
  box-shadow:
    inset 2px 2px 5px darken($backgroundColor, 15%),
    inset -2px -2px 5px lighten($backgroundColor, 15%) !important;
}

.entity-actions-view {
  display: flex;
  gap: 1em;
  place-self: flex-end;
  padding: 0.5em;


  button {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
  }

  .bi-trash-fill {
    color: $danger;
  }
}
