.content-container {
  box-sizing: border-box;
  width: 100%;
  color: $text-color;
  height: calc(100vh - 140px - env(safe-area-inset-top));
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: auto;
}
.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  //height: 100%;
  background: $primary-color;
  border-radius: 25px;
  border: none;
  padding: 0.3em 1em;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.entity-container {
  span.title {
    font-size: 40px;
    font-weight: bold;
  }

  .add-button {
    margin: 1em 0;
  }

  .entity-list {
    ul {
      margin: 0;
      padding: 0;
      width: 100%;
      li {
        padding: 1em;
        //margin: 0.5em 0;
        margin-top: 0.5em;
        justify-self: flex-end;
        width: 100%;
        list-style: none;
        background: rgba(255, 255, 255, 0.4);
      }
    }
  }

  .entity-toggle {
    background: rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: stretch center;
    //padding: 1em;
    border-radius: 10px;
    margin-top: 0.5em;
    position: relative;
    gap: 0;

    div {
      padding: 0.5em;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      font-weight: bold;
      font-size: 1.1em;
      min-height: 40px;
      border-radius: 0;
      background: #fff;
      z-index: 2;
    }
    .entity-toggle-option:first-child {
      border-radius: 8px 0 0 8px;
    }
    .entity-toggle-option:last-child {
      border-radius: 0 8px 8px 0;
    }

    .entity-toggle-option:not(:last-child) {
      border-right: 1px solid #1a78a5;
    }
    .entity-toggle-option.active {
      background: $primary-color;
      color: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
      font-weight: bold;
      transition:
        background 0.2s,
        color 0.2s;
      z-index: 3;
      position: relative;
    }
  }

  .buttons-container {
    background: none;
    margin: 1em 0;
    display: grid;
    grid-template-columns: 40px auto 40px 40px;
    gap: 0.5em;

    .action-button {
      aspect-ratio: 1/1;
      width: 100%;
      height: 100%;
      border: none;
      padding: 20px;
      background: $action-button;
      color: white;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }

  .entity-row {
    display: grid;
    grid-template-columns: 24px auto 24px;
    grid-template-areas: 'icon name toggle' 'icon description toggle';
    align-items: center;
    gap: 1em;
  }

  .entity-actions {
    grid-area: toggle;
    display: flex;
    flex-direction: column;
    gap: 0.5em;


    button {
      width: 24px;
      height: 24px;
      background: none;
      border: none;
    }

    .bi-trash-fill {
      color: $danger;
    }
  }
  .children-list {
    padding-left: 16px;
    margin: 6px 0 0 0;
    list-style: none;
  }
  .entity-description {
    font-size: 0.9em;
    color: $text-color;
    grid-area: description;
  }

  .entity-name {
    font-size: 1.2em;
    font-weight: bold;
    grid-area: name;
  }

  .entity-icon {
    grid-area: icon;
  }
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 1em;
  label[for='language'] {
    margin-right: 0.5em;
  }
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
}

.settings-row {
  display: flex;
  align-items: center;
  gap: 1em;

  .dropdown button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
  }

  .dropdown li {
    padding: 0.5em;
  }
}

.add-entity-container {
  width: 100%;
  margin: 20px auto;
  overflow-y: auto;
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .form-label {
      font-weight: bold;
    }

    .required-field {
      color: red;
    }

    .form-input-container{
      display: grid;
      grid-template-columns: 1fr;

      .form-control, .form-select {
        &:focus, &:active {
          outline: none;
          border: 1px solid $primary-color;
          box-shadow: none;
        }
      }

      .select-option {
        display: flex;
        gap: 10px;
        align-items: center;
        width: 100%;
      }



      .input-with-icon {
        display: grid;
        grid-template-columns: auto 32px;
        background: $input-bg;
        padding-left: 0;

        .form-control {
          background: none;
          border: none;
          outline: none;
        }

        i {
          justify-self: center;
          align-self: center;
        }
      }
    }
  }
}
