@import 'variables';
* {
  font-family:
    'Tahoma',
    Segoe UI,
    Geneva,
    Verdana,
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage {
  display: grid;
  color: $textColor;
  height: calc(100vh - 140px - env(safe-area-inset-top));
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: auto;

  .logo-container {
    display: flex;
    width: 100%;
    margin-bottom: 1em;
    .logo {
      display: grid;
      grid-template-columns: 2fr 3fr;
      gap: 1em;
      .logo-name {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        .title {
          display: block;
          font-size: 48px;
          font-weight: bold;
          background: linear-gradient(
              90deg,
              $danger 0%,
              $secondaryColor 54.17%,
              $primaryColor 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
         //margin-bottom: -0.5em;
          margin-bottom: -0.2em;
        }
        .subtitle {
          display: block;
          font-size: 0.9rem;
          text-align: center;
          font-weight: bolder;
          color: $thirdColor;
        }
      }

      img {
        width: 72px;
        height: 72px;
        aspect-ratio: 1/1;
        background: $primaryColor;
        border-radius: 25%;
        padding: 8px;
        place-self: center;
      }
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    width: 100%;
    height: 100%;

    .dashboard {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      font-weight: bold;
      width: 100%;
      background: rgba(#fff, 0.5);
      border-radius: 10px;
      padding: 1em;

      .dashboard-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;

        .tile-container {
          margin-top: 1em;
          width: 100%;
          text-align: center;
          .tile {
            aspect-ratio: 1/1;
            display: flex;
            justify-self: center;
            align-self: center;
            background: $primaryColor;
            width: 70px;
            height: 70px;
            padding: 1em;
            border-radius: 15px 15px 15px 0;

            span {
              color: $textColor;
              display: flex;
              width: 100%;
              height: 100%;
              justify-content: center;
              align-items: center;
            }
          }

          .tile-name {
            font-size: clamp(14px, 2vw, 18px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 100%;
            margin-bottom: 0.5em;
          }
        }
      }
    }
    .add-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;

      background: $primaryColor;
      border-radius: 0 25px 25px 0;
      padding: 0.3em 0.3em 0.3em 1em;

      color: $textColor;
      font-weight: bold;
      font-size: 1.2rem;
    }
    .add-circle-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: $secondaryColor;
      border: none;
      color: $textColor;
      flex-shrink: 0;

      i {
        font-size: 1.5rem;
        line-height: 1;
      }
    }

    .collection-slider-container {
      span:first-child {
        font-weight: bold;
      }
      .collection-slider {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 1em;
        background: rgba(#fff, 0.5);
        padding: 10px;
        border-radius: 10px;
        place-items: center;

        img {
          width: 64px;
          height: 64px;
        }

        span {
          justify-self: flex-start;
          text-wrap: wrap;
          white-space: wrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
          font-size: 16px;
          font-weight: bold;
        }

        .count-container {
          display: grid;
          grid-template-columns: 1fr;

          span {
            justify-self: center;
            font-weight: normal;
          }

          span:first-child {
            font-size: 24px;
            font-weight: bold;
          }
        }
      }
    }

    .expiry-date-items {
      background: $pinkColor;
      border-radius: 10px;
      padding: 10px;
      display: grid;
      grid-template-columns: auto auto 1fr;
      gap: 1em;

      i {
        font-size: 32px;
        background: red;
        aspect-ratio: 1/1;
        display: flex;
        justify-self: center;
        align-self: center;
        color: white;
        border-radius: 50%;
      }
      span:nth-child(2) {
        font-size: 32px;
        font-weight: bold;
      }
      span {
        text-wrap: wrap;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        font-size: 16px;
      }
    }
  }
}
