@import 'variables';
* {
  font-family:
    'Tahoma',
    Segoe UI,
    Geneva,
    Verdana,
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homepage {
  display: grid;
  color: $text-color;
  height: calc(100vh - 140px - env(safe-area-inset-top));
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-y: auto;

  .logo-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    justify-self: flex-start;
    column-gap: 1em;
    place-items: center;
    margin-bottom: 1em;
    .logo {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 0.5em;
      .title {
        font-size: 48px;
        font-weight: bold;
        background: linear-gradient(
          90deg,
          $gradient-first 0%,
          $gradient-second 54.17%,
          $gradient-third 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
      }

      img {
        width: 72px;
        height: 72px;
        background: $logo-background;
        border-radius: 25%;
        padding: 8px;
        place-self: center;
      }
    }
    .subtitle {
      margin-top: 0.2em;
      font-size: 20px;
    }
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    width: 100%;
    height: 100%;

    .dashboard {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      font-weight: bold;
      width: 100%;
      background: $container-background;
      border-radius: 10px;
      padding: 1em;

      .dashboard-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;

        .tile-container {
          margin-top: 1em;
          width: 100%;
          text-align: center;
          .tile {
            aspect-ratio: 1/1;
            display: flex;
            justify-self: center;
            align-self: center;
            background: $primary-color;
            width: 70px;
            height: 70px;
            padding: 1em;

            span {
              color: white;
              display: flex;
              width: 100%;
              height: 100%;
              justify-content: center;
              align-items: center;
            }
          }

          .tile-name {
            font-size: clamp(14px, 2vw, 18px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 100%;
            margin-bottom: 0.5em;
          }
        }
      }
    }
    .add-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background: $primary-color;
      border-radius: 25px;
      border: none;
      padding: 0.3em 1em;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: bold;
      color: #fff;
    }

    .collection-slider-container {
      span:first-child {
        font-weight: bold;
      }
      .collection-slider {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 1em;
        background: $container-background;
        padding: 10px;
        border-radius: 10px;
        place-items: center;

        img {
          width: 64px;
          height: 64px;
        }

        span {
          justify-self: flex-start;
          text-wrap: wrap;
          white-space: wrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
          font-size: 16px;
          font-weight: bold;
        }

        .count-container {
          display: grid;
          grid-template-columns: 1fr;

          span {
            justify-self: center;
            font-weight: normal;
          }

          span:first-child {
            font-size: 24px;
            font-weight: bold;
          }
        }
      }
    }

    .expiry-date-items {
      background: $secondary-color;
      border-radius: 10px;
      padding: 10px;
      display: grid;
      grid-template-columns: auto auto 1fr;
      gap: 1em;

      i {
        font-size: 32px;
        background: red;
        aspect-ratio: 1/1;
        display: flex;
        justify-self: center;
        align-self: center;
        color: white;
        border-radius: 50%;
      }
      span:nth-child(2) {
        font-size: 32px;
        font-weight: bold;
      }
      span {
        text-wrap: wrap;
        white-space: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        font-size: 16px;
      }
    }
  }
}
