@import 'variables';
* {
  font-family:
    'Tahoma',
    Segoe UI,
    Geneva,
    Verdana,
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app,
.app-container {
  height: 100%;
}
.app-container {
  background: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 70px 24px;
}

.header {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 12px 12px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 30px 30px;
  gap: 1em;
  z-index: 100;
  background: $header-color;
  overflow: hidden;

  .search-container {
    display: grid;
    grid-template-columns: 1fr 30px;
    width: 100%;
    background: #f3f3f3;
    padding: 8px;
    border-radius: 25px;
    input {
      background: transparent;
      border: none;
      margin-left: 10px;
    }
    input:focus {
      outline: none;
    }
    i {
      background: $header-color;
      display: flex;
      place-self: center;
      padding: 8px;
      border-radius: 50%;
    }
  }
}

.footer {
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: $footer-color;

  nav {
    width: 100%;
    margin: 0 auto;

    ul {
      display: flex;
      justify-content: space-between;
      padding: 0;
    }

    li {
      list-style: none;

      .bi {
        font-size: 24px;
      }
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  color: $active-color;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}

main {
  width: 100%;
}
