@import 'normalize.css';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

@import "vue3-select-component/styles";

body {
  min-height: 100vh;
}

i {
  font-size: 24px;
}
.icon-large {
  font-size: 32px;
}

.icon-small {
  font-size: 16px;
}

[v-cloak] {
  display: none;
}

@import 'homepage';
@import 'variables';
@import 'layout';
@import 'components';
