$backgroundColor: #F5F5F5;
$primaryColor: #FFD100;
$secondaryColor: #E85D04;
$thirdColor: #303030;
$textColor: #202020;

$activeColor: #FFD100;
$pinkColor: #ffc8dd;
:root {
  --background-color: $backgroundColor;
  --header-color: $thirdColor;
  --footer-color: $thirdColor;
  --text-color: $textColor;
  --logo-background: $primaryColor;
}
